@require 'base-config'

.{pre}column
	padding_(spaceTopSm spaceRightSm spaceBottomSm spaceLeftSm)
	background-color lightgrey

	&__item-list
		padding-top spaceTopPrimary

	&--dragging-over
		background-color lightblue
