/*
   This is an edited version of “Reset CSS” 2.0
	 If any additional resets or defaults are needed, add them to this file
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	margin_(0 0 0 0)
	padding_(0 0 0 0)
	border 0
	vertical-align baseline

html
body
	background-color bgcBody
	line-height 1

html
	height 100%

body
	min-height 100%
	font-size fzPrimary
	font-family ffPrimary

ol, ul
	list-style none

input:-webkit-autofill
input:-webkit-autofill:hover
input:-webkit-autofill:focus
input:-webkit-autofill:active
	transition background-color 5000s ease-in-out 0s

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
	display block

blockquote
q
	quotes none

blockquote:before
blockquote:after
q:before
q:after
	content ''
	content none

table
	border-collapse collapse
	border-spacing 0

img
	max-width 100%
	display block
	border 0

button
html input[type=button]
input[type=reset]
input[type=submit]
	-webkit-appearance button
	overflow visible
	border-radius inherit
	cursor pointer

button
input
optgroup
select
textarea
	outline 0

input-ms-clear
	display none

p, h1, h2, h3, h4
	display block
	-webkit-margin-before 0
	-webkit-margin-after 0
	-webkit-margin-start 0
	-webkit-margin-end 0

ul, menu, dir
	-webkit-margin-before 0
	-webkit-margin-after 0
	-webkit-padding-start 0
