@require 'base-config'

.{pre}navigation

	&__item
		color cLinkPrimary
		margin-left spaceLeftLg
		font-size fzPrimary
		text-decoration none

		&:first-child
			margin-left 0

		&--active
			text-decoration underline
			font-weight fwBold
