// PREFIX
projectPrefix = 'hwk'
pre = projectPrefix + '-'
companyprefix = 'jk'
cPre = companyprefix + '-'

// MULTIPLIER
multiplierGlobal = 1
multiplierTop = multiplierGlobal
multiplierRight = multiplierGlobal
multiplierBottom = multiplierGlobal
multiplierLeft = multiplierGlobal

// FILE LOCATIONS
fontLocation = '/assets/fonts/'
imageLocation = '/assets/images/'

// DEVICES
mobile = 576px
tablet = 768px
desktop = 992px
wideScreen = 1200px
smartphoneWidth = 748px
tabletWidth = 1012px

// MEDIA QUERIES
mobileDown = "screen and (max-width: " + (mobile - 1px) + ")"
mobileUp = "screen and (min-width: " + (mobile) + ")"
tabletDown = "screen and (max-width: " + (tablet - 1px) + ")"
tabletUp = "screen and (min-width: " + (tablet) + ")"
desktopDown = "screen and (max-width: " + (desktop - 1px) + ")"
desktopUp = "screen and (min-width: " + (desktop) + ")"
wideScreenDown = "screen and (max-width: " + (wideScreen - 1px) + ")"
wideScreenUp = "screen and (min-width: " + (wideScreen) + ")"

// FONTS
ffPrimary = 'Arial'
ffIcon = 'FontAwesome'
cFontPrimary = #333333
cLinkPrimary = #767676
fwLight = 100
fwPrimary = 400
fwBold = 600
fzPrimary = 14px
fzSm = 12px
fzH1 = 25px

// COLORS
cPrimary = #0067f8
cInverted = #fff
cDark = #000000
cHighlight = #0c9bce
cInputPlaceholder = #333333
cDanger = red
cWarning = #fcc83b
cSuccess = #32b553
cInfo = #e8f0fe
bgcBody = cInverted

// Z-INDEX
zHigh1 = 9000
zMiddle1 = 1000
zLow1 = 1

// SPACINGS
spaceLg = (32px * multiplierGlobal)
spaceTopLg = (spaceLg * multiplierTop)
spaceRightLg = (spaceLg * multiplierRight)
spaceBottomLg = (spaceLg * multiplierBottom)
spaceLeftLg = (spaceLg * multiplierLeft)

spacePrimary = (16px * multiplierGlobal)
spaceTopPrimary = (spacePrimary * multiplierTop)
spaceRightPrimary = (spacePrimary * multiplierRight)
spaceBottomPrimary = (spacePrimary * multiplierBottom)
spaceLeftPrimary = (spacePrimary * multiplierLeft)

spaceSm = (8px * multiplierGlobal)
spaceTopSm = (spaceSm * multiplierTop)
spaceRightSm = (spaceSm * multiplierRight)
spaceBottomSm = (spaceSm * multiplierBottom)
spaceLeftSm = (spaceSm * multiplierLeft)

// RADIUS
bdrsPrimary = 4px

// FORMS

// input
hInput = 32px
bdcInputPrimary = #b3b3b3
bgcInputPrimaryDisabled = #f2f2f7

// button
hButton = hInput
bgcButtonPrimary = cPrimary
bgcButtonPrimaryHover = #005ada
