@media screen and (min-width tablet)

	.{pre}grid-col

		&--tablet-fill
			-ms-flex-preferred-size 0
			flex-basis 0
			-ms-flex-positive 1
			flex-grow 1
			max-width 100%

		&--tablet-auto
			-ms-flex 0 0 auto
			flex 0 0 auto
			width auto
			max-width none

		&--tablet-12
			width 100%

		&--tablet-offset-12
			margin-left 100%

		&--tablet-12
			width 100%

		&--tablet-offset-12
			margin-left 100%

		&--tablet-11
			width 91.66666667%

		&--tablet-offset-11
			margin-left 91.66666667%

		&--tablet-10_8
			width 90%

		&--tablet-offset-10_8
			margin-left 90%

		&--tablet-10
			width 83.3333333%

		&--tablet-offset-10
			margin-left 83.3333333%

		&--tablet-9_6
			width 80%

		&--tablet-offset-9_6
			margin-left 80%

		&--tablet-9
			width 75%

		&--tablet-offset-9
			margin-left 75%

		&--tablet-8_4
			width 70%

		&--tablet-offset-8_4
			margin-left 70%

		&--tablet-8
			width 66.66666667%

		&--tablet-offset-8
			margin-left 66.66666667%

		&--tablet-7_2
			width 60%

		&--tablet-offset-7_2
			margin-left 60%

		&--tablet-7
			width 58.3333333%

		&--tablet-offset-7
			margin-left 58.3333333%

		&--tablet-6
			width 50%

		&--tablet-offset-6
			margin-left 50%

		&--tablet-5
			width 41.66666667%

		&--tablet-offset-5
			margin-left 41.66666667%

		&--tablet-4_8
			width 40%

		&--tablet-offset-4_8
			margin-left 40%

		&--tablet-4
			width 33.3333333%

		&--tablet-offset-4
			margin-left 33.3333333%

		&--tablet-3_6
			width 30%

		&--tablet-offset-3_6
			margin-left 30%

		&--tablet-3
			width 25%

		&--tablet-offset-3
			margin-left 25%

		&--tablet-2_4
			width 20%

		&--tablet-offset-2_4
			margin-left 20%

		&--tablet-2
			width 16.66666667%

		&--tablet-offset-2
			margin-left 16.66666667%

		&--tablet-1_2
			width 10%

		&--tablet-offset-1_2
			margin-left 10%

		&--tablet-1
			width 8.3333333%

		&--tablet-offset-1
			margin-left 8.3333333%

		&--tablet-mr-auto
			margin-right auto !important

		&--tablet-ml-auto
			margin-left auto !important

		&--tablet-align-self-vertical-start
			-ms-flex-item-align start !important
			align-self flex-start !important

		&--tablet-align-self-vertical-center
			-ms-flex-item-align center !important
			align-self center !important

		&--tablet-align-self-vertical-end
			-ms-flex-item-align end !important
			align-self flex-end !important

		&--tablet-order-1
			-ms-flex-order 1
			order 1

		&--tablet-order-1
			-ms-flex-order 1
			order 1

		&--tablet-order-2
			-ms-flex-order 2
			order 2

		&--tablet-order-3
			-ms-flex-order 3
			order 3

		&--tablet-order-4
			-ms-flex-order 4
			order 4

		&--tablet-order-5
			-ms-flex-order 5
			order 5

		&--tablet-order-6
			-ms-flex-order 6
			order 6

		&--tablet-order-7
			-ms-flex-order 7
			order 7

		&--tablet-order-8
			-ms-flex-order 8
			order 8

		&--tablet-order-9
			-ms-flex-order 9
			order 9

		&--tablet-order-10
			-ms-flex-order 10
			order 10

		&--tablet-order-11
			-ms-flex-order 11
			order 11

		&--tablet-order-12
			-ms-flex-order 12
			order 12
