@media screen and (min-width wideScreen)

	.{pre}grid-col

		&--wide-screen-fill
			-ms-flex-preferred-size 0
			flex-basis 0
			-ms-flex-positive 1
			flex-grow 1
			max-width 100%

		&--wide-screen-auto
			-ms-flex 0 0 auto
			flex 0 0 auto
			width auto
			max-width none

		&--wide-screen-12
			width 100%

		&--wide-screen-offset-12
			margin-left 100%

		&--wide-screen-12
			width 100%

		&--wide-screen-offset-12
			margin-left 100%

		&--wide-screen-11
			width 91.66666667%

		&--wide-screen-offset-11
			margin-left 91.66666667%

		&--wide-screen-10_8
			width 90%

		&--wide-screen-offset-10_8
			margin-left 90%

		&--wide-screen-10
			width 83.3333333%

		&--wide-screen-offset-10
			margin-left 83.3333333%

		&--wide-screen-9_6
			width 80%

		&--wide-screen-offset-9_6
			margin-left 80%

		&--wide-screen-9
			width 75%

		&--wide-screen-offset-9
			margin-left 75%

		&--wide-screen-8_4
			width 70%

		&--wide-screen-offset-8_4
			margin-left 70%

		&--wide-screen-8
			width 66.66666667%

		&--wide-screen-offset-8
			margin-left 66.66666667%

		&--wide-screen-7_2
			width 60%

		&--wide-screen-offset-7_2
			margin-left 60%

		&--wide-screen-7
			width 58.3333333%

		&--wide-screen-offset-7
			margin-left 58.3333333%

		&--wide-screen-6
			width 50%

		&--wide-screen-offset-6
			margin-left 50%

		&--wide-screen-5
			width 41.66666667%

		&--wide-screen-offset-5
			margin-left 41.66666667%

		&--wide-screen-4_8
			width 40%

		&--wide-screen-offset-4_8
			margin-left 40%

		&--wide-screen-4
			width 33.3333333%

		&--wide-screen-offset-4
			margin-left 33.3333333%

		&--wide-screen-3_6
			width 30%

		&--wide-screen-offset-3_6
			margin-left 30%

		&--wide-screen-3
			width 25%

		&--wide-screen-offset-3
			margin-left 25%

		&--wide-screen-2_4
			width 20%

		&--wide-screen-offset-2_4
			margin-left 20%

		&--wide-screen-2
			width 16.66666667%

		&--wide-screen-offset-2
			margin-left 16.66666667%

		&--wide-screen-1_2
			width 10%

		&--wide-screen-offset-1_2
			margin-left 10%

		&--wide-screen-1
			width 8.3333333%

		&--wide-screen-offset-1
			margin-left 8.3333333%

		&--wide-screen-mr-auto
			margin-right auto !important

		&--wide-screen-ml-auto
			margin-left auto !important

		&--wide-screen-align-self-vertical-start
			-ms-flex-item-align start !important
			align-self flex-start !important

		&--wide-screen-align-self-vertical-center
			-ms-flex-item-align center !important
			align-self center !important

		&--wide-screen-align-self-vertical-end
			-ms-flex-item-align end !important
			align-self flex-end !important

		&--wide-screen-order-1
			-ms-flex-order 1
			order 1

		&--wide-screen-order-1
			-ms-flex-order 1
			order 1

		&--wide-screen-order-2
			-ms-flex-order 2
			order 2

		&--wide-screen-order-3
			-ms-flex-order 3
			order 3

		&--wide-screen-order-4
			-ms-flex-order 4
			order 4

		&--wide-screen-order-5
			-ms-flex-order 5
			order 5

		&--wide-screen-order-6
			-ms-flex-order 6
			order 6

		&--wide-screen-order-7
			-ms-flex-order 7
			order 7

		&--wide-screen-order-8
			-ms-flex-order 8
			order 8

		&--wide-screen-order-9
			-ms-flex-order 9
			order 9

		&--wide-screen-order-10
			-ms-flex-order 10
			order 10

		&--wide-screen-order-11
			-ms-flex-order 11
			order 11

		&--wide-screen-order-12
			-ms-flex-order 12
			order 12
