// VAR
coreLocation = 'core/'
devicesLocation = 'devices/'

// CORE
@require coreLocation + '_core'
@require coreLocation + '_divider'
@require coreLocation + '_hidden'
@require coreLocation + '_visible'
@require coreLocation + '_row'
@require coreLocation + '_collumn'
@require coreLocation + '_container'

// DEVICES
@require devicesLocation + '_mobile'
@require devicesLocation + '_tablet'
@require devicesLocation + '_desktop'
@require devicesLocation + '_wide-screen'
