// VAR
mixinLibraryPath = 'stylus-mixin-library/'
themePath = 'theme/'
cssResetPath = 'css-reset/'
gridPath = 'grid/'
vendorPath = 'vendor/'
imagesPath = 'images/'

// REQUIRE
@require mixinLibraryPath + '_index'
@require themePath + '_index'
@require cssResetPath + '_index'
@require gridPath + '_index'
// @require vendorPath + '_index' a

// TODO: remove when refactor webpack build as stylus loader will be available, as for now CRA support only SCSS
@import '../../app/**/*'
@import '../../ui-components/**/*'
