.{pre}hidden
	display none !important

	@media screen and (min-width tablet)
		&--tablet
			display none !important

	@media screen and (min-width desktop)
		&--desktop
			display none !important

	@media screen and (min-width wideScreen)
		&--wide-screen
			display none !important
