.{pre}grid-row
	display -ms-flexbox
	display flex
	-ms-flex-wrap wrap
	flex-wrap wrap

	&--align-items-vertical-start
		-ms-flex-align start !important
		align-items flex-start !important

	&--align-items-vertical-center
		-ms-flex-align center !important
		align-items center !important

	&--align-items-vertical-end
		-ms-flex-align end !important
		align-items flex-end !important

	&--align-items-horizontal-start
		-ms-flex-pack start !important
		justify-content flex-start !important

	&--align-items-horizontal-center
		-ms-flex-pack center !important
		justify-content center !important

	&--align-items-horizontal-end
		-ms-flex-pack end !important
		justify-content flex-end !important

	&--align-items-horizontal-symmetric
		-ms-flex-pack distribute !important
		justify-content space-around !important

	&--align-items-horizontal-push-far
		-ms-flex-pack justify !important
		justify-content space-between !important

	@media screen and (min-width tablet)
		&--tablet-align-items-vertical-start
			-ms-flex-align start !important
			align-items flex-start !important

		&--tablet-align-items-vertical-center
			-ms-flex-align center !important
			align-items center !important

		&--tablet-align-items-vertical-end
			-ms-flex-align end !important
			align-items flex-end !important

		&--tablet-align-items-horizontal-start
			-ms-flex-pack start !important
			justify-content flex-start !important

		&--tablet-align-items-horizontal-center
			-ms-flex-pack center !important
			justify-content center !important

		&--tablet-align-items-horizontal-end
			-ms-flex-pack end !important
			justify-content flex-end !important

		&--tablet-align-items-horizontal-symmetric
			-ms-flex-pack distribute !important
			justify-content space-around !important

		&--tablet-align-items-horizontal-push-far
			-ms-flex-pack justify !important
			justify-content space-between !important

	@media screen and (min-width desktop)
		&--desktop-align-items-vertical-start
			-ms-flex-align start !important
			align-items flex-start !important

		&--desktop-align-items-vertical-center
			-ms-flex-align center !important
			align-items center !important

		&--desktop-align-items-vertical-end
			-ms-flex-align end !important
			align-items flex-end !important

		&--desktop-align-items-horizontal-start
			-ms-flex-pack start !important
			justify-content flex-start !important

		&--desktop-align-items-horizontal-center
			-ms-flex-pack center !important
			justify-content center !important

		&--desktop-align-items-horizontal-end
			-ms-flex-pack end !important
			justify-content flex-end !important

		&--desktop-align-items-horizontal-symmetric
			-ms-flex-pack distribute !important
			justify-content space-around !important

		&--desktop-align-items-horizontal-push-far
			-ms-flex-pack justify !important
			justify-content space-between !important

	@media screen and (min-width wideScreen)
		&--wide-screen-align-items-vertical-start
			-ms-flex-align start !important
			align-items flex-start !important

		&--wide-screen-align-items-vertical-center
			-ms-flex-align center !important
			align-items center !important

		&--wide-screen-align-items-vertical-end
			-ms-flex-align end !important
			align-items flex-end !important

		&--wide-screen-align-items-horizontal-start
			-ms-flex-pack start !important
			justify-content flex-start !important

		&--wide-screen-align-items-horizontal-center
			-ms-flex-pack center !important
			justify-content center !important

		&--wide-screen-align-items-horizontal-end
			-ms-flex-pack end !important
			justify-content flex-end !important

		&--wide-screen-align-items-horizontal-symmetric
			-ms-flex-pack distribute !important
			justify-content space-around !important

		&--wide-screen-align-items-horizontal-push-far
			-ms-flex-pack justify !important
			justify-content space-between !important
