.{pre}visible
	display block !important

	@media screen and (min-width tablet)
		&--tablet
			display block !important

	@media screen and (min-width desktop)
		&--desktop
			display block !important

	@media screen and (min-width wideScreen)
		&--wide-screen
			display block !important
